<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <header th:fragment="header">
            <h1 style="color:blueviolet;">TechShop</h1>
            <br>
            <a th:href="@{/}">Home</a>
            <br>
            <br>
        </header>
        
        <footer th:fragment="footer">
            &COPY; Derechos Reservados 2022   
        </footer>
    </body>
</html>
