/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header{
    background-color: #076AF0;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    display:  flex;
    justify-content:  space-between;
    max-width: 992px;
    margin: 0 auto;

}

.nav-link {
    color: white;
    text-decoration: none;
    
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    
}
.nav-menu {
    display: flex;
    margin: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin:0 10px;
 
    width: max-content;
}

.nav-menu-item:hover{
    background-color: navy;
    transition: 0.5s;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 4px;
}